<div class="container">
    <div class="row">
        <div class="col col-12 ">
            <h1 class="float-left">
                Products!
            </h1>
            <button class="btn btn-primary float-right" *ngIf="typeUser == 'Administrador'"
                (click)="navigateToCreateProduct()">
                <i class="fas fa-plus"></i> Crear Nuevo Producto
            </button>
        </div>
    </div>
    <div class="row list--products">
        <div class="row col-12 mb-4 mt-4 item--title">
        </div>
        <div *ngFor="let item of listProducts" class="col-12 product-card">
            <div class="row">
                <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="product--title col-12">{{item.name}}</label>
                    <label class="product--description col-12">{{item.description}}</label></p>
                <p class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><strong class="col-12">Valor:
                    </strong>{{item.value}}$</p>

                <strong>Cantidad:</strong>

                <form class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-quantity" name="form" id="formAmmount"
                    *ngIf="typeUser != 'Administrador'">

                    <input class="form-control col-lg-6 col-md-6 col-sm-6 col-xs-6 float-left"
                        [(ngModel)]="item.ammount" type="number" name="ammount">


                    <button class="btn btn-outline-black col-lg-2 col-md-2 col-sm-6 col-xs-6"
                        (click)="changeAmmount('subs', item)">-</button>
                    <button class="btn btn-outline-black col-lg-2 col-md-2 col-sm-6 col-xs-6"
                        (click)="changeAmmount('add', item)">+</button>
                    <p *ngIf="item.ammount < 1 && item.ammount < 0" class="col-12 row mt-1"> El valor debe ser mayor a
                        0!</p>
                </form>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 float-right" style="position: absolute; right: 0;">
                    <button class="btn btn-primary float-right" (click)="buyProduct(item)" [disabled]="item.ammount < 1"
                        *ngIf="typeUser != 'Administrador' && typeUser"><i
                            class="fas fa-cart-arrow-down"></i>Buy</button>
                    <button class="btn btn-primary float-right" (click)="editProduct(item)"
                        *ngIf="typeUser == 'Administrador'"><i class="fas fa-cart-arrow-down"></i>Editar</button>
                    <button class="btn btn-danger float-right" (click)="deleteProduct(item)"
                        *ngIf="typeUser == 'Administrador'"><i class="fas fa-cart-arrow-down"></i>Eliminar</button>
                </div>
            </div>
        </div>
    </div>