.item--title{
    font-weight: bold;
}
.product--title{
    font-weight: bold;
}
.product-card{
 
    background: #ffffff;
    border-radius: 25px;
    padding-top: 2%;
    box-shadow: 0px 0px 5px -1px #dae0e5;
    margin-bottom: 4px;
}