.item--title {
  font-weight: bold;
}

.product--title {
  font-weight: bold;
}

.product-card {

  background: #ffffff;
  border-radius: 25px;
  padding-top: 2%;
  box-shadow: 0px 0px 5px -1px #dae0e5;
  margin-bottom: 4px;
  font-size: 14px;

  button {
    border-radius: 25px;
    font-size: 12px;
    box-shadow: 0px 1px 6px 1px #adb5bd;
    border: none;
    height: 50px;
    width: 100px;
  }

  button:hover {
    background: #ffc107;
    color: black;
    border: none;
  }
}

i {
  margin-right: 5px;
}

.list--products {
  max-height: 650px;
  overflow: auto;

}

.form-quantity{
    padding: 1%;
    button{
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #dee2e6;
        width: 10px;
        height: 37px;
        margin-left: 1%;
        margin-right: 5%;
        padding: 0;
        width: 25px !important;
    }
}