<div class="container">
    <div class="row">
        <div class="col col-12 ">
            <h1>
                Product list
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="row col-12 mb-4 mt-4 item--title">
        </div>
        <div *ngFor="let item of listProducts" class="col-12 product-card">
            <div class="row">
                <p class="col-4"><label class="product--title col-12">{{item.name}}</label><label
                        class="product--description col-12">{{item.description}}</label></p>
                <p class="col-4"><strong>Disponible: </strong>{{item.value}}</p>
                <div class="col-4"><button class="btn btn-primary">Buy</button></div>
            </div>
        </div>
    </div>