<nav class="navbar">
  <div class="container-fluid">
    <img src="assets/shop.png" (click)="goToHome()">

    <div *ngIf="!autenticated">
      <button class="btn btn-outline-dark" type="submit" (click)="logIn()">Log In</button>
      <button class="btn btn-danger ml-1" type="submit" (click)="register()">Sign In</button>
    </div>


  </div>
</nav>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet" ></router-outlet>
</div>

<div class="background-fractal">

</div>

<div class="background-fractal-top">

</div>