.navbar{
    box-shadow: 0px 0px 4px -1px grey;
    background: white;
    img{
        width: 40px;
    }
    button{
        height: 45px;
        font-weight: bold;
        width: 150px;
    }
    .btn-danger{
        background: #f10000;
    }
}

.background-fractal{
    width: 40%;
    height: 50%;
    background: #ffc517;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-top-left-radius: 114%;
}
.background-fractal-top{
    width: 30%;
    height: 50%;
    background: #00d0ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-right-radius: 114%;
}