<nav class="navbar">
  <div class="container-fluid">
    <img src="assets/shop.png" (click)="goToHome()" ngbTooltip="ver Productos">

    <div>
      {{typeUser}}
    </div>

    <div *ngIf="!autenticated">
      <button class="btn btn-outline-dark" type="submit" (click)="logIn()">Log In</button>
      <button class="btn btn-danger ml-1" type="submit" (click)="register()">Sign In</button>

    </div>
    <div *ngIf="autenticated" class="user-autenticated">
      <button class="btn btn-outline-dark ml-2" type="submit" (click)="logOut()" ngbTooltip="logOut" title="log Out">
        <i class="fas fa-sign-out-alt"></i>
      </button>
      <label class="ml-2" ngbTooltip="Editar Usuario" (click)="navigateToProfile()">{{displayName}}</label>
      <img ngbTooltip="Editar Usuario" *ngIf="user.photoURL" src="{{user.photoURL}}" class="ml-2"
        (click)="navigateToProfile()">
      <img ngbTooltip="Editar Usuario" *ngIf="!user.photoURL" (click)="navigateToProfile()"
        src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" class="ml-2"
        (click)="navigateToProfile()">

    </div>


  </div>
</nav>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<div class="background-fractal">

</div>

<div class="background-fractal-top">

</div>